<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /

 # Jika yang diminta adalah root (domain tanpa path), arahkan ke /public/
 RewriteRule ^$ public/ [L]

 # Jangan rewrite kalau file/folder fisik memang ada
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d

 # Selain itu, arahkan ke /public/...
 RewriteRule ^(.*)$ public/$1 [L]
</IfModule